*, ::after, ::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
}

.container{
	max-width: 1300px;
	margin: 0 auto;
	
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gradient{
	height: 70%;
	width: 55%;
	display: flex;
	align-items: center;
	
	padding: 25px;
	justify-content: center;
}



.gradient p{
	/* border: 1px solid; */
	font-size: 3em;
}


.tools{
	display: flex;
	flex-direction: column;
	width: 20%;
}

label{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
}